.lst1 {
    float:left;
    border:solid 1px #aaa;
    width:300px;
    height:500px;
    list-style:none;
}
.lst2 {
    float:left;
    border:solid 1px #aaa;
    width:300px;
    margin-left:10px;
    height:500px;
    list-style:none;
}
.ok {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
